body {
	background:#fff;
	color:#666;
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
	text-align: center; 	
}
a{
	color: #666;
	text-decoration: underline;
}
h1{
	border-bottom: 1px solid #ccc;
	color: #333;
	font-size: 1.8em;
	font-weight: normal;
	margin-bottom: 20px;
	padding: 10px 0px;
}
h2{
	color: #666;
	font-size: 1.2em;
	font-weight: normal;
	margin: 5px 0px;
}
p{
	line-height: 1.5em;
	margin: 10px 0px;
}
label{
	display:block;
	padding: 20px 0px 5px;
}
.right{float: right;}
.left{float: left;}
.small{font-size: 0.8em;}
.very_small{font-size: 0.65em;}
.dark_grey{color: #333;}
.light{color: #aaa;}
.green{ color: #abdb00;}
.green_bg{background-color:#abdb00; color: #fff;}
.red{color: #f90;}
.red_bg{background-color: #f90; color: #fff;}
#notice, #errorExplanation{
	background-color: #fff;
	border: 1px solid #f90;
	color: #f90;
	margin-top:15px;
	padding:10px;
}

.input{
	border:1px solid #CCCCCC;
	color: #666;
	display: block;
	font-size:1.1em;
	padding:5px;
}
	#small_content .input{ width: 433px;}
	
.small_input{
	border:1px solid #CCCCCC;
	color:#666666;
	font-size:1.1em;
	margin-right:10px;
	padding:5px;
	width:240px;
}
.submit{
	margin: 20px 0px;
}
#container_wrapper, #header_wrapper{
	width: 100%;
}
#container, #footer{
	margin: 0px auto;
	padding: 30px 40px 20px;
	text-align: left;
	width: 880px;
}
#container_wrapper{
	background: url("img/body_bg.gif") top left repeat-x;
	min-height: 195px;
}
	#header_wrapper{
		background: url("img/header_bg.gif") top left repeat-x;
		height: 50px;
	}
	#header{
		color:#FFFFFF;
		height: 50px;
		margin: 0px auto;
		padding: 0px 40px;
		position: relative;
		width: 880px;
	}
	#header a{
		color: #fff;
	}
	#header form{
		font-size:0.8em;
		position: absolute;
		right: 10px;
		text-align: right;
		top: 20px;
	}
	#header label{
		display: inline;
	}
	#header .input{
		-moz-border-radius: 8px;
		display: inline;
		font-size: 0.8em;
		margin-right:10px;
		padding: 2px 6px;
		width: 100px;
	}
	#small_login_btn{
		margin-top:-1px;
		vertical-align: middle;
	}
	
	#home{
		background: transparent url('img/logo.gif') top left no-repeat;
		display: block;
		height: 50px;
		left: 0px;
		position: relative;
		top: 0px;
		width: 165px;
	}
		#home span{ display: none;}
	#header ul li{ display: inline;}
	#header ul li a{
		display: block;
		float: right;
		height: 50px;
		line-height: 50px;
		padding: 0px 10px;
	}
#content{
	-moz-border-radius-topleft:25px;
	-moz-border-radius-topright:25px;
	background:#FFFFFF;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	float:right;
	margin-bottom:40px;
	padding:10px 25px 20px;
	width:600px;
}
#small_content{
	float:right;
	padding:0;
	width:445px;
}
#sidebar_wrapper{
	float:left;
	margin-top: 25px;
	width:193px;
}

#sidebar{
	-moz-border-radius-topleft:15px;
	-moz-border-radius-bottomleft:15px;
	background:#FFFFFF;
	border-bottom:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	border-right: 4px solid #efefef;
	padding:6px 15px 15px;
	width:193px;
}

#sidebar_large{
	float:left;
	margin-right:20px;
	min-height: 295px;
	padding-top: 70px;
	width:415px;
}

#sidebar h2{
	border-bottom: 1px solid #ccc;
	padding: 0 0 8px;
}
#sidebar a{
	color: #777777;
	display: block;
	margin: 2px 0px;
	padding: 2px 4px;
	text-decoration: none;
}
#sidebar a:hover, #sidebar a.selected{color: #333333;}
#sidebar ul.members li{
	border-left: 4px solid #ccc;
	margin-top: 8px;
	padding-left: 8px;
}
#sidebar ul.members li span{font-size: 75%;}


#sidebar_wrapper a{
	-moz-border-radius-bottomleft:20px;
	-moz-border-radius-topleft:20px;
	background:url("img/sidebar_a_bg.gif") repeat-x scroll 0 -4px #F4F4F4;
	border-color:#CCCCCC #EFEFEF #CCCCCC #CCCCCC;
	border-style:solid;
	border-width:1px 4px 1px 1px;
	display:block;
	height:40px;
	line-height:40px;
	margin:10px 0;
	padding:0 15px;
	text-decoration:none;
	width:193px;
}
#sidebar_wrapper a:hover{text-decoration: underline;}
	#sidebar_wrapper a span.payments{
		background:url("img/truck.gif") 0 4px no-repeat;
		display:block;
		padding-left:55px;
	}
	#sidebar_wrapper a span.new_group{
		background:url("img/new_group.gif") 0 4px no-repeat;
		display:block;
		padding-left:55px;
	}

#create_group_btn{
	background: transparent url('img/create_group_btn.gif') top left no-repeat;
	display: block;
	height: 28px;
	width: 141px;
}
	#create_group_btn span{ display: none;}
.block{
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	margin: 10px 0px;
	padding: 10px;
}
	.block p{
		padding: 0;
		margin: 0;
	}
	.block .description{ font-size: 1.2em; }
	.block .right{
		text-align: right;
	}
	.block ul li{
		display: inline;
	}
	.block ul li a{
		color: #333;
	}

#home_block{
	-moz-border-radius: 15px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 30px;
}
#signupnow_btn{
	background: url("img/signupnow_btn.gif") top left no-repeat;
	display: block;
	float: right;
	height: 29px;
	margin-right: 50px;
	width: 120px;
}
	#signupnow_btn span{ display: none;}


.green_leafs{
	padding-top: 10px;
}
.green_leafs li{
	list-style-image: url("img/leaf.gif");
	list-style-position: inside;
	padding: 15px 0px 0px 5px;
}




.colorTag{
	float:left;
	height: 14px;
	margin-right:5px;
	width: 14px;
}
.colorTag.all{
	/*background: url("img/colorsIcon.gif") 1px 2px no-repeat;*/
}
.colorTag.c1{background: #C8B6FD;}
.colorTag.c2{background: #B6CDFD;}
.colorTag.c3{background: #B6FDED;}
.colorTag.c4{background: #B7FDB6;}
.colorTag.c5{background: #E5FDB6;}
.colorTag.c6{background: #FCF2D8;}
.colorTag.c7{background: #FDB6B6;}

td{
	border-top: 1px solid #ccc;
	padding: 5px 2px;
}
.owed, .owes{
	display: block;
	height: 0.5em;
	float: right;
}
.owed{ background-color: #abdb00; }
.owes{ background-color: #f90; }
.totals table{ width: 100%; }
.totals table td{ padding: 3px; }
.tdowes, .tdowed{ width: 50px; }
.totals table td.tdowes{
	padding-right: 0px;
	text-align: right;
}
	td.tdowes{ border-right: 1px solid #999; }
.tdowes .owes{ float: right; }
.totals table td.tdowed{
	padding-left: 0px;
	text-align: left;
}
.tdowed .owed{ float: left; }

	

#footer{
	border-top: 1px solid #ccc;
	clear: both;
	font-size: 70%;
	margin-top: 30px;
	padding: 5px;
	text-align: left;
	width: 870px;
}
	#footer img{
		vertical-align: middle;
	}
