	<% content_for :sidebar do -%>
	<div id="sidebar_wrapper">
		<div id="sidebar_wapper">
		<%= link_to '<span class="new_group">create a group</span>', new_share_path %>
			<% unless @invites.empty? %>
			<h1>You are invited:</h1>
			<table>
				<tbody>
					<tr><th>invitor</th><th>share</th><th>sent</th></tr>
			<%= render :partial => "invites/invite_details", :collection => @invites, :as => :i %>
				</tbody>
			</table>
			<% end %>
		</div>
	</div>
	<% end -%>

	<h1>Your groups</h1>
	<% if @shares.empty? %>
	  <div>You do not have any active share yet</div>
	<% else %>
	<%= render :partial => "shares/share_details", :collection => @shares, :as => :s %>
	<% end %>