	<div id="home_block">
		<p><span class="green">Billspike</span> helps you <span class="green">track expenses</span> for a group of people and not worry about the maths. All bills are <span class="green">safely kept</span> and everyone is always aware of the amounts owed through <span class="green">email alerts</span>.</p>
		<p>Billspike is <span class="green">easy and free!</span> <%= link_to '<span>Sign up now</span>', new_user_path, :id=>'signupnow_btn' %></p>
		<%= image_tag 'large_logo.gif', :id=>'front_logo' %>
	</div>