<h1>add a payment</h1>
<%= render :partial => "payment_form", :locals=>{:url=>share_payments_path(current_share.id), :value => '',:button_text=>'Add'} %>
<%= link_to "Cancel", share_path(current_share.id) %>